@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #243950;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background: #6585A3;
  border-radius: 5px;
}

div#root {
  @apply flex;
}

section.right-panel{
  @apply grow;
}

.active-blur{
  @apply blur-sm;
}

div.right-panel-content{
  @apply min-h-9/10;
}

.active{
  @apply text-dark-blue;
}